<form
   [formGroup]="fg"
   (ngSubmit)="guardar(fg.controls['nombre'].value, fg.controls['url'].value)">
    <div class="form-group">
        <label for="nombre">nombre</label>
        <input type="text" class="form-control" id="nombre" placeholder="Ingresar nombre..." 
         [formControl]="fg.controls['nombre']">
         <ul>
             <li *ngFor="ler r of searchResults;">{{r}}</li>
         </ul>
         <div *ngIf="!fg.controls['nombre'].hasError('required')">nombre requerido!</div>
         <div *ngIf="!fg.controls['nombre'].hasError('invaliNombre')">nombre invalido!</div>
         <div *ngIf="!fg.controls['nombre'].hasError('minLongNombre')">nombre debe tener al menos {{minLongNombre}} de largo!</div>      
    </div>
    <div class="form-group">
        <label for="Imagen Url">Imagen url</label>
        <input type="text" class="form.control" id="imagenUrl" placeholder="Ingresar url..." 
        [formControl]="fg.controls['url']">
    </div>
    <button type="submit" class="btn btn-primary" *ngIf="fg.valid">Guardar!</button>

</form>

