<div class="card-content">
    <div class="card-img">
        <img	src="https://placeimg.com/380/230/nature"	alt="">
        <span><h4>{{position}}</h4></span>
    </div>
    <div class="card-desc">
        <h3>{{destino.nombre}}</h3>
        <p>servicios</p>
        <ul>
            <li *ngFor="let s of destino.servicios">
                <span [ngSwitch]="s">
                    <i *ngSwitchCase="'desayuno'" style="color:red;">{{s}}</i>
                    <i *ngSwitchDefault="'desayuno'">{{s}}</i>
                </span>
            </li>
        </ul>
        <div>
            <a href="#" (click)="voteup()">ci class="material-icons md-18">trumb_up</i></a>
            <a href="#" (click)="voteDown()">ci class="material-icons md-18">trumb_dowm</i></a>
            ((destino.votes))
        </div>
        <a	href="#" class="btn-card" (click)="ir()">Ir!</a>
        <span *ngIf="destino.isSlected()">
            <span ngNonBindable>-PREFERIDO-</span>
        </span>
        <a [routerlink]="['/destino', destino.id]">Ver!</a>
    </div>
</div>
